.topBar {
background-color: rgb(21, 54, 23);
}

.topBar img {
    height: 57px;
    padding-left: 31px;
    padding-top: 8px;
}

.welcome {
    font-family: "Bona Nova SC", serif;
    text-align: center;
    color: rgb(196, 158, 88);
}

.welcome h3 {
    font-size: 27px;
    padding-top: 12px;
    padding-right: 6px;
}

.welcome h5 {
    font-size: 12px;
}

.pfp {
    background-color:rgb(238, 207, 144);
}
.pfpImage img {
    max-width: 100%;
    height: 273px;
    padding-top: 29px;
    padding-left: 6px;
}

.navBar {
    text-align: center;
    background-color: rgb(238, 207, 144);
}

.navBar button {
    background-color: rgb(165, 160, 89);
    margin-top: 15px;
    margin-bottom: 18px;
    border-radius: 6px;
    color: rgb(62, 78, 34);
    width: 83px;
    font-size: 13px;
    font-family: "Bona Nova SC", serif;
}

.aboutMe img {
padding-bottom: 12px;
}

.aboutMe {
    text-align: center;
    font-size: 11px;
    font-family: "Bona Nova SC", serif;
    padding-top: 40px;
    color: rgb(136, 103, 41);
}

.aboutMe h3 {
    color: rgb(122, 78, 27);
}

.aboutMe button {
    border-radius: 9px;
    width: 63px;
    background-color: rgb(18, 51, 18);
    color: rgb(216, 204, 139);
}

.basics img {
    padding-top: 9px;
}

.basics {
    text-align: center;
    font-family: "Bona Nova SC", serif;
    margin-top: -35px;
}

.basics ul {
    list-style-type: circle;
    font-size: 14px;
    text-align: left;
    color: rgb(110, 83, 33);
}

.basics h3 {
    font-size: 17px;
    padding-top: 16px;
    color: rgb(122, 78, 27);
}

.knowledge {
    background-color: rgb(238, 207, 144);
}

.codeImage img {
    padding-top: 59px;
}

.codeImage p {
    font-size: 9px;
    text-align: right;
}

.project {
    background-color:rgb(21, 54, 23) ;
    padding: 9px;
}


.projectTitle {
    margin-top: 12px;
}

.projectTitle h3 {
    color: rgb(196, 158, 88);
    font-family: "Bona Nova SC", serif;
    font-size: 31px ;
    text-align: center;
    margin-top: -7px;
}

.squares {
    background-color: rgb(34, 78, 36);
}

.squares img {
    margin-top: 29px;
    padding: 18px;
}

.squares h3 {
    font-size: 16px;
    text-align: center;
    font-family: serif;
    color: rgb(196, 158, 88);
}

.endBar {
    background-color: rgb(21, 54, 23);
    text-align: center;
}

.socialMed img {
    height: 40px;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

@media (min-width: 576px) {
    .topBar img {
        padding-left: 75px;
    }

    .pfpImage img {
        height: 288px;
        padding-top: 25px;
        padding-left: 53px;
    }

    .aboutMe {
        padding-right: 69px;
    }

    .basics {
        padding: 34px;
    }

    .codeImage img {
        padding-top: 73px;
        height: 265px;
        padding-left: 9px;
    }

    .codeImage p {
        font-size: 11px;
        text-align: right;
        padding-right: 25px;
    }


}

@media (min-width: 768px) {
    .topBar img {
        padding-left: 94px;
    }

    .pfpImage img {
        height: 339px;
        padding-left: 75px;
    }

    .aboutMe {
        padding-right: 109px;
        font-size: 16px;
    }

    .aboutMe button {
        width: 91px;
    }

    .basics {
        padding: 52px;
    }

    .codeImage img {
        height: 277px;
        padding-left: 72px;
    }

    .codeImage p {
        font-size: 12px;
        padding-right: 73px;
    }


    .squares h3 {
        font-size: 20px;
        margin-bottom: 37px;
    }

 

    
}

@media (min-width: 992px) {
    .topBar img {
        padding-left: 143px;
    }

    .pfpImage img {
        height: 388px;
        padding-left: 96px;
    }

    .aboutMe {
        padding-right: 155px;
        font-size: 17px;
        padding-left: 37px;
    }

    .basics {
        padding: 81px;
    }

    .basics ul {
        font-size: 16px;
        margin-top: 17px;
    }

    .codeImage img {
        height: 331px;
        padding-left: 90px;
    }

    .codeImage p {
        font-size: 13px;
    }

 
}

@media (min-width: 1200px) {
    .topBar img {
        padding-left: 164px;
    }

    .pfpImage img {
        height: 426px;
        padding-left: 164px;
        margin-top: 29px;
    }

    .aboutMe {
        padding-right: 221px;
        font-size: 17px;
        padding-left: 39px;
        margin-top: 34px;
    }

    .basics {
        padding: 100px;
        padding-left: 124px;
    }

    .codeImage img {
        height: 376px;
        padding-left: 105px;
        margin-top: 7px;
    }

    .codeImage p {
        font-size: 13px;
        padding-right: 101px;
    }

    
  
}

@media (min-width: 1400px){
    .topBar img {
        padding-left: 232px;
        height: 87px;
    }

    .welcome h3 {
        font-size: 38px;
        padding-top: 12px;
        padding-right: 6px;
    }

    .welcome h5 {
        font-size: 17px;
    }

    .pfpImage img {
        height: 426px;
        padding-left: 204px;
        margin-top: 23px;
    }

    .aboutMe {
        padding-right: 204px;
        font-size: 17px;
        padding-left: 35px;
        margin-top: 54px;
    }

    .aboutMe button {
        width: 109px;
    }

    .basics {
        padding-left: 136px;
    }

    .codeImage img {
        margin-top: 29px;
        padding-left: 192px;
    }

    .codeImage p {
        padding-right: 274px;
    }

}

@media (min-width: 1800px) {

    .pfpImage img {
        height: 478px;
        padding-left: 204px;
        margin-top: 23px;
    }

    .codeImage img {
        margin-top: 29px;
        padding-left: 257px;
        height: 415px;
    }
}

.navBar :hover {
    background-color: rgb(168, 194, 174);
}

.aboutMe button:hover {
    background-color: rgb(168, 194, 174);
}

.socialMed img:hover {
    background-color: rgb(168, 194, 174);
}

.squareOne a:hover {
    background-color: rgb(168, 194, 174);
}

.squareTwo a:hover {
    background-color: rgb(168, 194, 174);
}

.squareThree a:hover {
    background-color: rgb(168, 194, 174);
}


