.topBar {
background-color: rgb(21, 54, 23);
}

.topBar img {
    height: 57px;
    padding-left: 24px;
    padding-top: 8px;
}

.welcome {
    font-family: "Bona Nova SC", serif;
    text-align: center;
    color: rgb(196, 158, 88);
}

.welcome h3 {
    font-size: 27px;
    padding-top: 12px;
    padding-right: 6px;
}

.welcome h5 {
    font-size: 12px;
}

.pfp {
    background-color:rgb(238, 207, 144);
}
.pfpImage img {
    max-width: 100%;
    height: 273px;
    padding-top: 29px;
    padding-left: 6px;
}

.navBar {
    text-align: center;
    background-color: rgb(238, 207, 144);
}

.navBar button {
    background-color: rgb(165, 160, 89);
    margin-top: 15px;
    margin-bottom: 18px;
    border-radius: 6px;
    color: rgb(62, 78, 34);
    width: 89px;
    font-size: 13px;
    font-family: "Bona Nova SC", serif;
}

.aboutMe img {
padding-bottom: 12px;
}

.aboutMe {
    text-align: center;
    font-size: 14px;
    font-family: "Bona Nova SC", serif;
    padding-top: 40px;
    color: rgb(136, 103, 41);
}

.aboutMe h3 {
    color: rgb(122, 78, 27);
}

.aboutMe button {
    border-radius: 9px;
    width: 96px;
    background-color: rgb(18, 51, 18);
    color: rgb(216, 204, 139);
}

.basics img {
    padding-top: 9px;
}

.basics {
    text-align: center;
    font-family: "Bona Nova SC", serif;
}

.basics ul {
    list-style-type: circle;
    font-size: 14px;
    text-align: left;
    color: rgb(110, 83, 33);
}

.basics h3 {
    font-size: 22px;
    padding-top: 16px;
    color: rgb(122, 78, 27);
}

.knowledge {
    background-color: rgb(238, 207, 144);
}

.codeImage img {
    padding-top: 59px;
}

.codeImage p {
    font-size: 9px;
    text-align: right;
}

.project {
    background-color:rgb(21, 54, 23) ;
    padding: 9px;
}

.project img {
    height: 43px;
}

.projectS img {
    padding-left: 63px;
}

.projectTitle {
    margin-top: 12px;
}

.projectTitle h3 {
    color: rgb(196, 158, 88);
    font-family: "Bona Nova SC", serif;
    font-size: 31px ;
    text-align: center;
    margin-top: -7px;
}

.squares {
    padding: 24px;
    background-color:rgb(81, 116, 84) ;
    margin-top: -6px;
}

.squareTwo img {
    margin-top: 40px;
}

.squareThree img {
    margin-top: 40px;
}

.endBar {
    background-color:rgb(21, 54, 23) ;
}

.endMedia img {
    height: 34px;
    padding-left: 8px;
}

@media (min-width: 576px) {
    .topBar img {
        padding-left: 59px;
    }

    .pfpImage img {
        height: 288px;
        padding-top: 25px;
        padding-left: 53px;
    }

    .aboutMe {
        padding-right: 69px;
    }

    .basics {
        padding: 34px;
    }

    .codeImage img {
        padding-top: 73px;
        height: 265px;
        padding-left: 9px;
    }

    .codeImage p {
        font-size: 11px;
        text-align: right;
        padding-right: 25px;
    }

    .projectS {
        padding-left: 68px;
    }

    .squares {
        padding: 52px;
    }

    .endMedia {
        padding-left: 47px;
    }
}

@media (min-width: 768px) {
    .topBar img {
        padding-left: 87px;
    }

    .pfpImage img {
        height: 339px;
        padding-left: 75px;
    }

    .aboutMe {
        padding-right: 109px;
        font-size: 16px;
    }

    .basics {
        padding: 52px;
    }

    .codeImage img {
        height: 277px;
        padding-left: 50px;
    }

    .codeImage p {
        font-size: 12px;
        padding-right: 59px;
    }

    .projectS img {
        padding-left: 132px;
    }

    .squares {
        padding: 82px;
    }

    .endMedia img {
        height: 43px;
        padding-left: 19px;
    }
}

@media (min-width: 992px) {
    .topBar img {
        padding-left: 132px;
    }

    .pfpImage img {
        height: 388px;
        padding-left: 96px;
    }

    .aboutMe {
        padding-right: 155px;
        font-size: 17px;
        padding-left: 37px;
    }

    .basics {
        padding: 81px;
    }

    .basics ul {
        font-size: 16px;
        margin-top: 17px;
    }

    .codeImage img {
        height: 331px;
        padding-left: 90px;
    }

    .codeImage p {
        font-size: 13px;
    }

    .projectS {
        padding-left: 141px;
    }

    .squares {
        padding: 111px;
    }

    .endMedia img {
        height: 47px;
        padding-left: 52px;
    }
}

