.topBar {
background-color: rgb(21, 54, 23);
}

.topBar img {
    height: 57px;
    padding-left: 24px;
    padding-top: 8px;
}

.welcome {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(196, 158, 88);
}

.welcome h3 {
    font-size: 27px;
    padding-top: 12px;
    padding-right: 6px;
}

.welcome h5 {
    font-size: 12px;
}

.pfp {
    background-color: rgb(250, 222, 167);
}
.pfpImage img {
    max-width: 100%;
    height: 273px;
    padding-top: 29px;
    padding-left: 6px;
}

.navBar {
    text-align: center;
    background-color: rgb(250, 222, 167);
}

.navBar button {
    background-color: rgb(165, 160, 89);
    margin-top: 15px;
    margin-bottom: 18px;
    border-radius: 6px;
    color: rgb(62, 78, 34);
    width: 74px;
    font-size: 13px;
    font-family: serif;
}

.aboutMe img {
padding-bottom: 12px;
}

.aboutMe {
    text-align: center;
    font-size: 14px;
    font-family: serif;
    padding-top: 40px;
    color: rgb(136, 103, 41);
}

.aboutMe h3 {
    color: rgb(122, 78, 27);
}

.aboutMe button {
    border-radius: 9px;
    width: 73px;
    background-color: rgb(18, 51, 18);
    color: rgb(216, 204, 139);
}

.basics img {
    padding-top: 9px;
}

.basics {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.basics ul {
    list-style-type: circle;
    font-size: 14px;
    text-align: left;
    color: rgb(110, 83, 33);
}

.basics h3 {
    font-size: 22px;
    padding-top: 16px;
    color: rgb(122, 78, 27);
}

.knowledge {
    background-color: rgb(250, 222, 167);
}

.codeImage img {
    padding-top: 59px;
}

.codeImage p {
    font-size: 9px;
    text-align: right;
}

.project {
    background-color:rgb(21, 54, 23) ;
}

.project img {
    height: 43px;
}

.projectS img {
    padding-left: 73px;
}

.projectTitle {
    margin-top: 12px;
}

.projectTitle h3 {
    color: rgb(196, 158, 88);
    font-family: 'Times New Roman', Times, serif;
    font-size: 31px ;
    text-align: center;
    margin-top: -7px;
}
